<!-- A really basic homepage. You may want to look at Bootstrap CSS examples to customize your own app! -->

<!-- your CSS goes between <style> </style> -->
<style>

 .main {
 background-color: rgba(255, 255, 255, 0.5);
 margin-top: 100px;
 padding-bottom: 50px;
 }
 .main h1 {
 font-size: 3.5em;
 font-family: Arial;
 color: #2E3759;
 }
 .main h2 {
 font-size: 2em;
 font-family: Arial;
 color: #2E3759;
 }
 .main h3 {
 font-size: 1.5em;
 font-family: Arial;
 color: #59502e;
 }
 .main p {
 font-size:1em;
 font-family: Arial;
 color: #2E3759;
 }
 }

</style>
<!-- image_list ontains path to images -->
<!-- color_list contains hex color values for above images-->
<!-- number is the number of images-->
<!-- stype = "background-color:#0292b7"-->

<div class="overlay">

</div>


<title>BrowseProducts</title>
</head>
<body>
    <div class="main">
      <div style="text-align:center">
      <br><br><br>


      <div class="starter-template">
        <h1>Hi there! Pick one from here.</h1>
        <h3>Click the circle next to your selection to see recommendations.</h3>

        <div>
          <br><br><br>
        </div>

<!--<form action='/recommendations', method='POST'>-->
   <!--<<div class="input">-->
    <!--<div>
      <input class="input" type="number" name="indexnum">
      <button type="submit">Find me matches!</button>
      <br><br><br>
    </div>-->
      <table>
        <tbody>
          {% for i in range(number) %}
               
                <tr>
                    <img src="{{ image_list[i] }}" width="300" height="300">
                
                        <form action = '/recommendations' method = 'GET' >
                        <!--<input type=”hidden" name = "clk" value= "{{i}}" >-->
                          <b><button type='submit' name = "clk" value= "{{i}}" style='background-color:{{color_list[i]}}; height: 60px; width: 60px; border-radius: 50%' >
                          </button></b>
                       </form>                      
                     
                </tr>

          {% endfor %}
        </tbody>
      </table>
    <!--<</div>-->
<!--</form>-->      



    </div>
    </div>
  </body>


