<div class="starter-template">
        <h1>Hi there! Pick one from here.</h1>
      <table>
        <tbody>
          {% for image in image_list %}
                <tr>
                    <h3></h3><img src="{{ image }}" scale = 50%></td><h3>
                </tr>
          {% endfor %}
        </tbody>
      </table>




  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>        
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>

<table>
        <tbody>
          {% for i in range(number) %}
                <a href='/recommendation{{i}}'>
                    <img src="{{ image_list[i] }}" width="300" height="300">

                </a>
          {% endfor %}
        </tbody>
      </table>




  <a href='/recommendation{{i}}'>
  <a href='/recommendation{{loop.index0}}'>

    <form action='/recommendations', method='POST'>

        <button type="submit" >LOVE this!</button>
      </form>